
Project/.vs/RayMarchingStudy/v15/.suo
Project/.vs/RayMarchingStudy/v15/Browse.VC.db
Project/.vs/RayMarchingStudy/v15/Browse.VC.opendb
Project/.vs/RayMarchingStudy/v15/ipch/AutoPCH/382189dbbc436ae3/MAIN.ipch
Project/.vs/RayMarchingStudy/v15/ipch/AutoPCH/939e355dffb252f3/MAIN.ipch
*.obj
Project/Debug/RayMarchingStudy.exe
Project/Debug/RayMarchingStudy.ilk
Project/Debug/RayMarchingStudy.log
*.pdb
*.tlog
Project/Debug/RayMarchingStudy_Debug.exe
*.ilk
*.idb
*.user
*.log
Project/Release/RayMarchingStudy.exe
Project/Release/RayMarchingStudy.iobj
*.ipdb
